html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: rgba(115, 158, 65, 0.288);
  list-style: none;
}

.list {
  margin: 0;
  padding: 0;
  display: block;
}

.numeric-list {
  display: flex;
}

.wrapper {
  margin: 20px;
}
.language {
  display: inline-block;
  align-items: flex-start;
}

.numeric-data {
  font-style: italic;
  font-weight: normal;
  font-size: large;
  display: inline-block;
  margin-left: 20px;
}

.country-name {
  font-style: italic;
  list-style: none;
  margin: 20px;
  font-size: 20px;
}

.container {
  display: block;
  margin: 0 auto;
}

input {
  height: 50px;
  width: 300px;
  display: block;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  padding: 20px;
  border: none;
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

.data-language {
  display: block;
  float: right;
}

.language-section {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

.data {
  display: flex;
}
